<!DOCTYPE html>
<html>
    <head>
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <!-- Jquery -->
        <!--<script src="scripts/anime-master/anime-master/lib/anime.min.js"></script>  
         crud style -->

        <!-- import crud functionality -->
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/charts.css') }}">
    <title>Estadísticas</title>
    
    </head>
<body>
    <div class="chart-div">
        <img src="{{ url_for('static',filename='resources/ServicedCars.png') }}" alt="ServicedCars">
        <img src="{{ url_for('static',filename='resources/CarsStuckInTraffic.png') }}" alt="CarsStuckInTraffic">
    </div>
    <div class="chart-div">
        <img src="{{ url_for('static',filename='resources/ReportedCrashes.png') }}" alt="ReportedCrashes">
    </div>
</body>